body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.parent {
  display: grid;
  place-items: center;

  background: lightblue;
  width: 100vw;
  height: 100vh;

  resize: both;
  overflow: auto;
}

.child {
  font-size: 2rem;
  text-align: center;
}

.result {
  border: 1px solid red;
  background: lightpink;
  border-radius: 10px;
  padding: 0.5rem;
}

.btn {
  padding: 0.5rem;
  border-radius: 10px;
  border: 1px;
}

/* body {
  font-family: system-ui, serif;
  padding: 0;
  margin: 0;
} */
